{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "importOrder": [
    "^(react|react-native)$",
    "^@pathwaymd/(.*)$",
    "^@/modules/(.*)$",
    "^@/screens/(.*)$",
    "^@/components/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "^(.*)$"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["classProperties", "jsx", "typescript"]
}
